<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Django</title>
</head>
<style>
.menu {
  list-style: none; /* remove os marcadores padrão */
  display: flex; /* coloca os itens em linha */
  justify-content: space-around; /* espaça igualmente os itens */
  padding: 0;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  display: inline-block; /* faz <a> comportar-se como bloco */
}

.menu a:hover {
  color: blue;
  transform: scale(1.1);
}
</style>
<body>
    <ul class="menu">
        <li><a href="{% url 'home' %}">HOME</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        <li><a href="{% url 'create' %}">CREATE</a></li>
        <li><a href="{% url 'edit' 1 %}">EDIT</a></li>
        <li><a href="{% url 'product' 2 %}">VIEW</a></li>
    </ul>
</body>
</html>